*.o
*.pyc
player/snowman.blend1
newWave/
export.cfg
enemy/uv_layout.xcf
enemy/uv_layout.png
enemy/uv_enemy.png
enemy/stonyMony2.scn
enemy/stonyMony2.dae
enemy/stonyMony.scn
enemy/stonyMony.dae
enemy/stony.blend1
enemy/pumpkin_uv.xcf
enemy/pumpkin_uv.png
enemy/pumpkin.mtl
enemy/pumpkin.blend1
enemy/newuvs.png
enemy/images/
enemy/front.tex
enemy/engine/
ImmediateGeometry.tscn
